/*
font-family: 'Sigmar One', cursive;
font-family: 'Londrina Outline', cursive;
font-family: 'Bungee Outline', cursive;
font-family: 'Passion One', cursive;*/
body {
  font-family: 'Passion One', cursive;
  color: white;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.background {
  background-image: url(../images/lego-background-lightgray.jpg);
  background-repeat: no-repeat;
  width: 1280px;
  height: 800px;
  z-index: 10px;
  position: fixed;
  filter: blur(3px) grayscale(60%);
  -webkit-filter: blur(3px) grayscale(60%);
  -moz-filter: blur(3px) grayscale(60%);
  -o-filter: blur(3px) grayscale(60%);
  -ms-filter: blur(3px) grayscale(60%);
}
.game-name {
  font-size: 85px;
  letter-spacing: 10px;
  margin-top: 40px;
  margin-left: 330px;
  z-index: 15px;
  position: fixed;
}
.directions-line-one {
  font-size: 40px;
  letter-spacing: 2px;
  margin-top: 140px;
  margin-left: 400px;
  z-index: 15px;
  position: fixed;
}
.directions-line-two {
  font-size: 40px;
  letter-spacing: 2px;
  margin-top: 180px;
  margin-left: 220px;
  z-index: 15px;
  position: fixed;
}
.computer-number {
  font-size: 60px;
  height: 100px;
  width: 300px;
  margin-top: 260px;
  margin-left: 300px;
  z-index: 15px;
  position: fixed;
}
#user-sum {
  font-size: 60px;
  height: 100px;
  width: 350px;
  z-index: 100px;
  position: fixed;
  margin-top: 290px;
  margin-left: 720px;
}
#green-lego {
  z-index: 100px;
  position: fixed;
  height: 180px;
  width: 180px;
  margin-top: 420px;
  margin-left: 200px;
}
#blue-lego {
  z-index: 100px;
  position: fixed;
  height: 230px;
  width: 230px;
  margin-top: 420px;
  margin-left: 410px;
}
#yellow-lego {
  z-index: 100px;
  position: fixed;
  height: 180px;
  width: 180px;
  margin-top: 420px;
  margin-left: 680px;
}
#red-lego {
  z-index: 100px;
  position: fixed;
  height: 300px;
  width: 300px;
  margin-top: 360px;
  margin-left: 850px;
}
