/*
font-family: 'Sigmar One', cursive;
font-family: 'Londrina Outline', cursive;
font-family: 'Bungee Outline', cursive;
font-family: 'Passion One', cursive;*/
body {
  font-family: 'Passion One', cursive;
  color: white;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.background {
  background-image: url(../images/lego-background-lightgray.jpg);
  background-repeat: no-repeat;
  width: 1280px;
  height: 800px;
  z-index: 10px;
  position: fixed;
  filter: blur(3px) grayscale(60%);
  -webkit-filter: blur(3px) grayscale(60%);
  -moz-filter: blur(3px) grayscale(60%);
  -o-filter: blur(3px) grayscale(60%);
  -ms-filter: blur(3px) grayscale(60%);
}
.game-name {
  font-size: 85px;
  letter-spacing: 10px;
  margin-top: 25px;
  margin-left: 330px;
  z-index: 15px;
  position: fixed;
}
.directions-line-one {
  font-size: 40px;
  color: #FEEF1C;
  letter-spacing: 2px;
  margin-top: 125px;
  margin-left: 400px;
  z-index: 15px;
  position: fixed;
}
.directions-line-two {
  font-size: 40px;
  color: #FEEF1C;
  letter-spacing: 2px;
  margin-top: 170px;
  margin-left: 220px;
  z-index: 15px;
  position: fixed;
}
.computer-number {
  font-size: 60px;
  height: 100px;
  width: 300px;
  letter-spacing: 1px;
  margin-top: 240px;
  margin-left: 250px;
  z-index: 15px;
  position: fixed;
}
#user-sum {
  font-size: 60px;
  height: 100px;
  width: 450px;
  letter-spacing: 1px;
  z-index: 100px;
  position: fixed;
  margin-top: 270px;
  margin-left: 660px;
}
#green-lego {
  z-index: 100px;
  position: fixed;
  height: 180px;
  width: 180px;
  margin-top: 380px;
  margin-left: 200px;
}
#blue-lego {
  z-index: 100px;
  position: fixed;
  height: 230px;
  width: 230px;
  margin-top: 380px;
  margin-left: 410px;
}
#yellow-lego {
  z-index: 100px;
  position: fixed;
  height: 180px;
  width: 180px;
  margin-top: 380px;
  margin-left: 680px;
}
#red-lego {
  z-index: 100px;
  position: fixed;
  height: 300px;
  width: 300px;
  margin-top: 320px;
  margin-left: 850px;
}
#show-wins {
  font-size: 50px;
  color: #244DBF;
  height: 200px;
  width: 200px;
  letter-spacing: 1px;
  z-index: 200px;
  position: fixed;
  margin-top: 600px;
  margin-left: 350px;
}
#show-loses {
  font-size: 50px;
  color: #D93333;
  height: 200px;
  width: 200px;
  letter-spacing: 1px;
  z-index: 200px;
  position: fixed;
  margin-top: 600px;
  margin-left: 750px;
}

